[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"pep8" = "*"
pylint = "*"
"flake8" = "*"
"autopep8" = "*"
pylint-django = "*"

[packages]
django = ">=2.1.2"
django-rest-framework = "*"
pymysql = "*"
dj-database-url = "*"
gunicorn = "*"
django-nested-admin = "*"
django-reversion = "*"

[requires]
python_version = "3.6"
