<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
</head>
<body style="font-family: Roboto,sans-serif; line-height: 2;">
    <table style="width: 100%; background-color: #FFFFF2 !important; background-image: url(https://dashboard.arkavidia.id/img/bg_pattern.feb36b04.png) !important; background-size: 50% !important; padding: 10px;">
        <tr><td style="text-align: center"><img src="https://static.arkavidia.id/5/images/logo-long.png" height="50"></td></tr>
        <tr><td>Halo, {{ full_name }}! </td></tr>
        <tr><td>Teman Anda telah mendaftarkan Anda untuk ikut berpartisipasi dalam Arkavidia 5.0 bersama tim {{ team.name }}.</td></tr>
        <tr><td>Arkavidia 5.0 Informatics &amp; IT Festival adalah serangkaian acara IT berskala nasional yang diselenggarakan oleh Himpunan Mahasiswa Teknik Informatika Institut Teknologi Bandung, berkolaborasi dengan Teknik Informatika ITB.</td></tr>

        <tr><td>Untuk melihat tim Anda, <a href="https://dashboard.arkavidia.id/">klik disini</a>.</td></tr>
    </table>
</body>
</html>
