<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100:300,400,500,700,900|Material+Icons" rel=stylesheet>
    <link rel=stylesheet href=https://static.arkavidia.id/5/fonts/FuturaBT/style.css>
    <link rel=stylesheet href=https://static.arkavidia.id/5/iconfont/style.css>
    <link rel=stylesheet href=https://static.arkavidia.id/5/fonts/FuturaLT/stylesheet.css>
    <style>
        body {
            background-image: url(https://arkavidia.id/img/bg_pattern.feb36b04.png) !important;
        }
    </style>
</head>
<body>
    <h1>Welcome, {{ user.name }} !</h1>
    <p>Click <a href="{{ link }}">here</a> to confirm your email</p>
</body>
</html>